
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutForgotPass.cshtml";
}

<div class="card-body login-card-body"> 
    <p class="login-box-msg">Please check your email to reset your password.</p>
</div>

