@model WebBanHangOnline.Models.OrderViewModel

<div class="col-md-9">
	@using (Html.BeginForm("CheckOut", "ShoppingCart", FormMethod.Post, new { id = "myForm" }))

	{
		@Html.AntiForgeryToken()
		<h3>Thông tin khách hàng</h3>
		<div class="form-group">
			<label>Họ tên khách hàng</label>
			<input type="text" name="CustomerName" required class="form-control" autocomplete="off" />
		</div>
		<div class="form-group">
			<label>Số điện thoại</label>
			<input type="number" name="Phone" required class="form-control" autocomplete="off" />
		</div>
		<div class="form-group">
			<label>Địa chỉ</label>
			<input type="text" name="Address" required class="form-control" autocomplete="off" />
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" name="Email" required class="form-control" autocomplete="off" />
		</div>
		<div class="form-group">
			<label>Hình thức thanh toán</label>
			<select class="form-control" name="TypePayment">
				<option value="0" selected>COD</option>
				<option value="1">Chuyển khoản</option>

			</select>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-block btn-success">Đặt hàng</button>
		</div>
	}
</div>

@section scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script>
$(document).ready(function() {
    $('#myForm').validate({
        rules: {
            'CustomerName': {
                required: true
            },
            'Phone': {
				required: true
			}
		},
        messages: {
			'CustomerName' : 'Bạn không để trống trường này',
			'Phone' : 'Bạn không để trống trường này'
		}
	});
});
	</script>
}